/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .desktop {
    display: none; /* Yellow */
  }
  .pop-up >.col__lg-10-12__center.col__12-12 img{
  	width:33.33333%;
  }
  img.main-img{
	width:100% !important;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .mobile {
    display: none; /* Yellow */
  }
  .pop-up >.col__lg-10-12__center.col__12-12 img{
  	width:25%;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .mobile {
    display: none; /* Yellow */
  }
  .pop-up >.col__lg-10-12__center.col__12-12 img{
  	width:25%;
  }

  
}